.eventos {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  background-image: url("../assets/bg_eventos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}
.eventos-contain {
  color: #fff;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 0 5%;
}
.eventos-contain h2 {
  font-family: "Leckerli_one", Arial, Helvetica, sans-serif;
  font-size: 4rem;
}
.eventos-contain h3 {
  font-size: 3rem;
}
.eventos-contain p {
  font-size: 2rem;
}
.eventos-contain img {
  display: none;
}

@media (max-width: 768px) {
  .eventos {
    background-image: url("./../assets/bg_eventos_movil.jpg");
    text-align: center;
    height: auto;
  }
  .eventos-contain {
    width: 100%;
    padding: 10% 0 5%;
    align-items: center;
  }
  .eventos-contain h3 {
    font-size: 2rem;
    font-style: italic;
  }
  .eventos-contain p {
    font-size: 1.3rem;
  }
  .eventos-contain img {
    display: inline-block;
    width: 75%;
    padding-top: 2rem;
  }
}
@media (max-width: 478px) {
  .eventos-contain {
    padding: 10% 0 0;
  }
  .eventos-contain img {
    width: 100%;
  }
}
