.menu {
  min-height: 100vh;
  background: var(--green);
}
.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header-sections {
  text-align: center;
  color: #fff;
  margin: 3rem 2rem 2rem;
}
.header-sections h2 {
  font-size: 3rem;
  font-family: "Leckerli_one", cursive;
  text-shadow: 2px 2px 2px #000;
}
.header-sections p {
  font-size: 1.5rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 1rem 2rem;
}
.menu p{
  text-shadow: 2px 2px 2px #000000;
}
.menu-list {
  color: #fff;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(2.1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 2rem 1rem;
}
.menu-list h3 {
  font-family: "Concert_one", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--main-color);
  text-shadow: 2px 2px 2px #000000;
}
.menu-list ul {
  padding: 0.5rem 3rem;
  text-align: left;
}
.menu-list-item li {
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px #000000;

}

.menu-list-item p{
  font-size: 1.3rem;
  text-shadow: 2px 2px 2px #000000;
}

@media (max-width: 968px) {
  #slider {
    max-height: 50vh;
  }
  .menu-grid {
    display: flex;
    flex-direction: column-reverse;
  }
  .header-sections p {
    margin: 1rem;
  }
  .menu-list {
    color: #fff;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2rem 1rem;
  }
}
@media (max-width: 478px) {
  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
