@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Concert_one";
  src: url("./fonts/ConcertOne-Regular.ttf");
}
@font-face {
  font-family: "Leckerli_one";
  src: url("./fonts/LeckerliOne-Regular.ttf");
}
:root {
  --main-color: #EE764F;
  --green: #74b517;
  --organge-second: #ffab76;
  --gray: #2e2d2c;
  --blue: #002755;
}

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 76%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
nav {
  font-family: "Concert_one", Arial, Helvetica, sans-serif;
}
