@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}

@font-face {
  font-family: "Concert_one";
  src: url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
}
@font-face {
  font-family: "Leckerli_one";
  src: url("./fonts/LeckerliOne-Regular.ttf");
}
:root {
  --main-color: #ea5c2b;
  --green: #74b517;
  --organge-second: #ffab76;
  --gray: #2e2d2c;
  --blue: #002755;
}

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 76%;
  font-family: "Roboto", cursive, Arial, Helvetica, sans-serif;
}
nav {
  font-family: "Concert_one", Arial, Helvetica, sans-serif;
}
